n8n workflows/WhatsApp_Bot.json
{
  "name": "WhatsApp Bot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "",
      "name": "Webhook",
      "webhookId": "YOUR_WEBHOOK_ID"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst config = JSON.parse(fs.readFileSync('/home/node/config.json', 'utf8'));\n\nconst body = $input.item.json.body || $input.item.json;\nconst senderId = String(body.sender || '').replace('@c.us', '').replace('@lid', '').trim();\nconst question = (body.message || $input.item.json.message || '').trim();\n// Debug line — remove after testing\n\nif (!question) return { answer: '' };\n\n// ============================================\n// Guest access helpers\n// ============================================\nfunction loadGuests() {\n  try { return JSON.parse(fs.readFileSync(config.guests_file, 'utf8')); } catch(e) { return []; }\n}\n\nfunction isOwner() {\n  const waOwner = config.whatsapp_owner_phone ? String(config.whatsapp_owner_phone).trim() : null;\n  const tgOwner = String(config.telegram_chat_id).trim();\n  return senderId === tgOwner || (waOwner && senderId === waOwner);\n}\n\nfunction getGuest() {\n  const guests = loadGuests();\n  const today = new Date().toISOString().split('T')[0];\n  return guests.find(g => String(g.whatsapp_phone).trim() === senderId && g.expires >= today) ||\n         guests.find(g => String(g.telegram_id).trim() === senderId && g.expires >= today) || null;\n}\n\n// ============================================\n// Owner flow\n// ============================================\nif (isOwner()) {\n\n  if (question.startsWith('http')) return { answer: '' };\n\n  // /list command\n  if (question.toLowerCase().startsWith('/list') || question.toLowerCase().startsWith('list ')) {\n    const listCategory = question.toLowerCase().replace(/^\\/?list\\s+/, '').replace(/[^a-z0-9]/g, '');\n    if (!listCategory) return { answer: 'Usage: /list <category>\\nExample: /list travel' };\n    const filepath = config.knowledge_dir + '/' + listCategory + '.md';\n    try {\n      const content = fs.readFileSync(filepath, 'utf8');\n      const entries = content.split('---').filter(e => e.trim() && e.includes('##'));\n      if (entries.length === 0) return { answer: 'No saved links in category: ' + listCategory };\n      const list = entries.map((e, i) => {\n        const titleMatch = e.match(/## \\[(.+?)\\]\\((.+?)\\)/);\n        const dateMatch = e.match(/\\*\\*Saved:\\*\\* (.+)/);\n        if (titleMatch) return `${i + 1}. ${titleMatch[1]}\\n${titleMatch[2]}\\n📅 ${dateMatch?.[1] || ''}`;\n        return null;\n      }).filter(Boolean).join('\\n\\n');\n      return { answer: `📂 ${listCategory} — ${entries.length} saved links\\n\\n${list}` };\n    } catch(e) {\n      return { answer: 'No saved links in category: ' + listCategory };\n    }\n  }\n\n  // /invite command\n  if (question.toLowerCase().startsWith('/invite')) {\n    const parts = question.split(' ');\n    if (parts.length < 4) {\n      return { answer: 'Usage: /invite phone=<number> <categories> <duration>\\nExample: /invite phone=YOUR_PHONE_NUMBER travel,food 7days' };\n    }\n    const target = parts[1];\n    const categories = parts[2].toLowerCase().split(',').map(c => c.trim().replace(/[^a-z0-9]/g, ''));\n    const durationStr = parts[3].toLowerCase();\n    let expires;\n    if (durationStr === 'permanent') {\n      expires = '9999-12-31';\n    } else {\n      const amount = parseInt(durationStr);\n      const unit = durationStr.replace(/[0-9]/g, '');\n      const d = new Date();\n      if (unit.startsWith('day')) d.setDate(d.getDate() + amount);\n      else if (unit.startsWith('week')) d.setDate(d.getDate() + amount * 7);\n      else if (unit.startsWith('month')) d.setMonth(d.getMonth() + amount);\n      expires = d.toISOString().split('T')[0];\n    }\n    const guests = loadGuests();\n    let newGuest = { categories, expires, added: new Date().toISOString().split('T')[0] };\n    if (target.startsWith('phone=')) newGuest.whatsapp_phone = target.replace('phone=', '');\n    else if (target.startsWith('id=')) newGuest.telegram_id = target.replace('id=', '');\n    else newGuest.telegram_id = target;\n    const key = newGuest.whatsapp_phone || newGuest.telegram_id;\n    const existingIdx = guests.findIndex(g =>\n      (g.whatsapp_phone && g.whatsapp_phone === newGuest.whatsapp_phone) ||\n      (g.telegram_id && g.telegram_id === newGuest.telegram_id)\n    );\n    if (existingIdx >= 0) guests[existingIdx] = newGuest; else guests.push(newGuest);\n    fs.writeFileSync(config.guests_file, JSON.stringify(guests, null, 2), 'utf8');\n    return { answer: '✅ Guest access granted\\n\\nFor: ' + key + '\\nCategories: ' + categories.join(', ') + '\\nExpires: ' + expires };\n  }\n\n  // /guests command\n  if (question.toLowerCase().startsWith('/guests')) {\n    const guests = loadGuests();\n    const today = new Date().toISOString().split('T')[0];\n    const active = guests.filter(g => g.expires >= today);\n    if (active.length === 0) return { answer: 'No active guests.' };\n    const list = active.map((g, i) =>\n      `${i + 1}. ${g.whatsapp_phone ? 'WhatsApp: ' + g.whatsapp_phone : 'Telegram: ' + g.telegram_id}\\n   Categories: ${g.categories.join(', ')}\\n   Expires: ${g.expires}`\n    ).join('\\n\\n');\n    return { answer: '👥 Active guests (' + active.length + '):\\n\\n' + list };\n  }\n\n  // /revoke command\n  if (question.toLowerCase().startsWith('/revoke')) {\n    const target = question.split(' ')[1];\n    if (!target) return { answer: 'Usage: /revoke <phone_or_telegram_id>' };\n    let guests = loadGuests();\n    const before = guests.length;\n    guests = guests.filter(g => g.whatsapp_phone !== target && String(g.telegram_id) !== target);\n    fs.writeFileSync(config.guests_file, JSON.stringify(guests, null, 2), 'utf8');\n    return { answer: before > guests.length ? '✅ Access revoked for ' + target : '❌ Guest not found: ' + target };\n  }\n\n  // Handle greetings\n  const greetings = ['hi','hello','hey','مرحبا','هلا','السلام','صباح','مساء'];\n  if (greetings.some(g => question.toLowerCase().startsWith(g))) {\n    return { answer: 'أهلاً! اسألني عن أي شيء حفظته 👋' };\n  }\n\n  // Owner full knowledge query\n  const dir = config.knowledge_dir;\n  let knowledge = '';\n  let fileCount = 0;\n  try {\n    const files = fs.readdirSync(dir).filter(f => f.endsWith('.md'));\n    fileCount = files.length;\n    for (const file of files) {\n      try {\n        const content = fs.readFileSync(dir + '/' + file, 'utf8');\n        if (content.trim()) knowledge += '\\n\\n=== ' + file.replace('.md', '') + ' ===\\n' + content.slice(0, 2000);\n      } catch(e) {}\n    }\n  } catch(e) {}\n  if (!knowledge.trim()) knowledge = 'No saved links yet.';\n  else knowledge = knowledge.slice(0, 20000);\n\n  const groqResponse = await this.helpers.httpRequest({\n    method: 'POST', url: 'https://api.groq.com/openai/v1/chat/completions',\n    headers: { 'Content-Type': 'application/json', 'Authorization': 'Bearer ' + config.groq_api_key },\n    body: { model: 'llama-3.3-70b-versatile', temperature: 0.2, messages: [\n      { role: 'system', content: 'You are a personal knowledge assistant. Answer questions using only the saved links provided. Be concise and helpful. For each relevant item include the title and URL. If nothing matches, say so clearly. Respond in the same language as the question.' },\n      { role: 'user', content: 'My saved links (' + fileCount + ' categories):\\n' + knowledge + '\\n\\nQuestion: ' + question }\n    ]}\n  });\n  return { answer: groqResponse.choices?.[0]?.message?.content || 'Could not get an answer.' };\n}\n\n// ============================================\n// Guest flow\n// ============================================\nconst guest = getGuest();\n\nif (!guest) {\n  return { answer: 'مرحباً! ليس لديك صلاحية للوصول.\\n\\nHello! You do not have access. Contact the bot owner for an invite.' };\n}\n\nif (question.startsWith('http') || question.startsWith('/') || question.match(/^[\\w-]+\\.(com|net|org|io|co|app|dev)/i)) {\n  return { answer: 'Guests can only ask questions about saved links.' };\n}\n\nconst guestGreetings = ['hi','hello','hey','مرحبا','هلا','السلام','صباح','مساء'];\nif (guestGreetings.some(g => question.toLowerCase().startsWith(g))) {\n  return { answer: 'أهلاً! يمكنك الاستفسار عن: ' + guest.categories.join(', ') + '\\n\\nHello! You can ask about: ' + guest.categories.join(', ') };\n}\n\nlet guestKnowledge = '';\nlet guestFileCount = 0;\nfor (const cat of guest.categories) {\n  try {\n    const content = fs.readFileSync(config.knowledge_dir + '/' + cat + '.md', 'utf8');\n    if (content.trim()) { guestKnowledge += '\\n\\n=== ' + cat + ' ===\\n' + content.slice(0, 2000); guestFileCount++; }\n  } catch(e) {}\n}\n\nif (!guestKnowledge.trim()) {\n  return { answer: 'No saved links found in your allowed categories: ' + guest.categories.join(', ') };\n}\n\nconst guestGroqResponse = await this.helpers.httpRequest({\n  method: 'POST', url: 'https://api.groq.com/openai/v1/chat/completions',\n  headers: { 'Content-Type': 'application/json', 'Authorization': 'Bearer ' + config.groq_api_key },\n  body: { model: 'llama-3.3-70b-versatile', temperature: 0.2, messages: [\n    { role: 'system', content: 'You are a helpful knowledge assistant. Answer questions using only the saved links provided. Be concise and include titles and URLs. Respond in the same language as the question.' },\n    { role: 'user', content: 'Saved links (' + guestFileCount + ' categories):\\n' + guestKnowledge.slice(0, 20000) + '\\n\\nQuestion: ' + question }\n  ]}\n});\n\nreturn { answer: guestGroqResponse.choices?.[0]?.message?.content || 'Could not get an answer.' };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "",
      "name": "Handle WhatsApp message"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst config = JSON.parse(fs.readFileSync('/home/node/config.json', 'utf8'));\nconst answer = $('Handle WhatsApp message').item.json.answer;\nif (!answer) return { sent: false };\nreturn { answer, sent: true };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Handle WhatsApp message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle WhatsApp message": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "",
  "meta": {
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "id": "",
  "tags": []
}
